@model IEnumerable<ProjectControlBodega.Models.Detalledepedido>

@{
    ViewData["Title"] = "Lista de detalles de Pedidos";
}

<div class="container">
    <h1>Lista de detalles de Pedidos</h1>

    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.PedidoId" class="btn btn-primary">Crear Nuevo</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre Producto</th>
                <th>Precio Producto Unit.</th>
                <th>Cantidad de Prod. Pedido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in Model)
            {
                <tr>
                    <td>@pedido.Producto.Nombre</td>
                    <td>@pedido.Producto.Precio</td>
                    <td>@pedido.CantidadProducto</td>
                </tr>
            }
        </tbody>
    </table>
</div>