@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="welcome-text">
        <br><br><br><br>
        <h1>Bienvenido al Sistema de Gestión de Información</h1><br><br>
        <p>Bienvenido al Sistema de Gestión de Bodega, una plataforma robusta diseñada para optimizar y controlar eficientemente el flujo de productos y la gestión de inventario en entornos de almacenamiento. Utilizando la potencia de la tecnología .NET MVC y la flexibilidad de Entity Framework, esta aplicación ha sido desarrollada para satisfacer las necesidades de gestión y seguimiento de bodegas con una interfaz amigable y funcional.</p>
    </div><br><br><br>
</div>
